/* screen */
@media screen {
  .print-hading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 18px;
  }
  .profile-heading {
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(48, 156, 91, 0.8);
    /* width: fit-content; */
    padding: 16px 60px;
  }
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
  }
  .signature_medical {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .signature-report-by {
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
  }

  .signature-doctor {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
  }
  .signature-doctor-degree {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
  }
  .signature-doctor-specialist {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
  }
  .signature-checked-by {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
  }
}
/* screen overrides */
