/* font-family import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family import */

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
body {
  font-family: "Montserrat", sans-serif;
}

.main {
  padding-top: 23px;
  padding-left: 16px;
  padding-right: 16px;
}

select:focus,
input:focus {
  box-shadow: none !important;
  border-color: var(--border-color) !important;
}
select:focus-visible,
input:focus-visible {
  outline: 0px;
}

/* common css */

/* variable  css */
:root {
  --black: #000;
  --bg: #fff;
  --danger-bg: rgba(243, 3, 3, 0.89);
  --success-bg: rgba(9, 173, 65, 0.89);
  --active-bg: #edbb70;
  --Secondary-bg: #d9d9d9;
  --info-bg: #18a0fb;
  --warning-bg: rgba(227, 119, 19, 0.89);
  --border-color: rgba(0, 0, 0, 0.56);
  --text-black: rgba(0, 0, 0, 0.8);
  --text-primary: rgba(23, 53, 132, 0.8);
  --text-primary-1: rgba(29, 25, 207, 0.8);
  --text-success: rgba(48, 156, 91, 0.8);
  --rounded-5: 5px;
  --letter-spacing: -0.015em;
}
/* variable  css */

/* navbar */
.navbar {
  border: 1px solid var(--border-color);
}
.navbar .collapse .navbar-nav {
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}
.navbar .collapse form {
  gap: 39px;
}
.navbar .collapse form .btn {
  border: 1px solid rgba(0, 0, 0, 0.44);
  border-radius: 6px;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #0f0202;
}

/* is-auth */
.is-auth {
  gap: 35px;
}
.is-auth a {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: var(--letter-spacing);
  color: #0f0202;
  position: relative;
}
.is-auth a:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -8%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 30px;
  background-color: #000;
}
/* is-auth */
/* navbar */

/* auth */
.auth {
  max-width: 622px;
  margin: 135px auto 0;
}
.auth form {
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 64px 74px;
}
.auth form .auth_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: var(--letter-spacing);
  color: #000000;
  margin-bottom: 42px;
}
.auth form .custom_input {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  cursor: pointer;
}
.auth form .btn {
  background: #18a0fb;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: var(--letter-spacing);
  color: #ffffff;
}
.auth form .dropdown-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
/* auth */

/* auth-email-review */
.auth-email-review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 0rem);
}
.auth-email-review h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  color: #000000;
}
.auth-email-review p {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  color: rgba(0, 0, 0, 0.8);
}

/* auth-email-review */

/* dashboard */
.dashboard .side_nav {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  padding: 17px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  flex-direction: column;
}
.dashboard .side_nav li {
  width: 100%;
}
.dashboard .side_nav li a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.dashboard .side_nav li:hover a {
  background: #edbb70;
  color: rgba(0, 0, 0, 0.8);
}
.dashboard .side_nav li.active a {
  background: #edbb70;
  color: rgba(0, 0, 0, 0.8);
}

.dashboard .dashboard-result {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 84px;
  flex-wrap: wrap;
}
.dashboard .dashboard-result .dashboard-items {
  flex-basis: 320px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 18px 25px;
}
.dashboard .dashboard-result .dashboard-items h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 32px;
}
.dashboard .dashboard-result .dashboard-items p {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.dashboard .profile {
  padding-top: 64px;
}
.dashboard .profile .profile-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 13px;
}
.dashboard .profile form {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 61px 65px;
}
.dashboard .profile label {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: rgba(0, 0, 0, 0.8);
}
.dashboard .profile textarea,
.dashboard .profile input {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: rgba(0, 0, 0, 0.8);
}
.dashboard .profile .location-pin {
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50%, -50%);
}
.dashboard .profile .profile-btn {
  align-items: center;
  justify-content: flex-end;
  gap: 44px;
}
.dashboard .profile .profile-btn .btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-indent: 10px;
  color: #ffffff;
}
.dashboard .profile .profile-btn .cancel {
  background: rgba(243, 3, 3, 0.89);
  border: 0.5px solid #1e1919;
  border-radius: 5px;
}
.dashboard .profile .profile-btn .update {
  background: rgba(9, 173, 65, 0.89);
  border: 0.5px solid #1e1919;
  border-radius: 5px;
}
.dashboard .profile .profile-body-main .profile-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 63px;
}
.dashboard .profile .profile-body-main .left-col .img img {
  max-width: 98px;
  max-height: 99px;
  width: 100%;
  height: 100%;
  margin-bottom: 29px;
}
.dashboard .profile .profile-body-main .left-col h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: rgba(23, 53, 132, 0.8);
  margin-bottom: 29px;
}
.dashboard .profile .profile-body-main .left-col p {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: rgba(0, 0, 0, 0.8);
}
.dashboard .profile .profile-body-main .right-col {
  text-align: right;
}
.dashboard .profile .profile-body-main .right-col .img {
  margin-bottom: 95px;
  cursor: pointer;
}
.dashboard .profile .profile-body-main .right-col ul li a {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
  display: inline-block;
}

.dashboard .add-new-report form {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}
.dashboard .add-new-report .profile-heading {
  text-align: center;
  padding-top: 73px;
  padding-bottom: 59px;
}
.dashboard .add-new-report .dropdown-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.dashboard .add-new-report {
}
.dashboard .add-new-report {
}
.dashboard .add-new-report {
}
.dashboard .add-new-report {
}
.dashboard .add-new-report {
}
.dashboard .add-new-report {
}
.dashboard .add-new-report {
}
.dashboard .add-new-report {
}
.dashboard .add-new-report {
}
.dashboard .add-new-report {
}
.dashboard .add-new-report {
}
.dashboard {
}
.dashboard {
}
.dashboard {
}
.dashboard {
}
/* dashboard */
